*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
  background-color: #FFF8F3;
  background: url("../images/developer.png"), url("../images/header_bg.png");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}
.logo h2{
  font-size: 45px;
  font-weight: 900;
}
.color-orange{
  color: #FD6E0A;
}
nav{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .menu{
  display: flex;
  list-style: none;
  gap: 51px;
  align-items: center;
  
}
nav .menu a{
  text-decoration: none;
  font-size: 20px;
  color: #474747;
}
nav .btn{
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
}
#banner .banner-content{
  max-width: 585px;
}
.btn-group{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#banner{
  /* border: 1px solid red; */
  margin: 47px 38px 0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .banner-content h2{
font-size: 45px;
font-weight: 600;
color: #474747;
margin-bottom: 5px;
}
#banner .banner-content h1{
font-size: 85px;
font-weight: bold;
color: #181818;
margin-bottom: 20px;
}
#banner .banner-content p{
font-size: 18px;
font-weight: bold;
line-height: 20px;
margin-bottom: 30px;
}
.btn{
  background-color: #FD6E0A;
  border: none;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
  cursor: pointer;
}
#banner .banner-image{
  max-width: 585px;
}
#about{
padding-top: 130px;
}
#about .about-container{
  background-color: #FFF8F3;
  text-align: center;
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 131px 156px;
}
.section-heading{
max-width: 827px;
margin: 0 auto;
text-align: center;
}
.section-heading h2{
  font-size: 35px;
  margin-bottom: 30px;
}
.section-heading p{
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}
#about .about-container .about-info{
  display: flex;
  justify-content: space-around;
}
.about-info .about-card p{
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.about-info .about-card h4{
  font-size: 20px;
}
#skills, #resume{
  padding-top: 130px;
}
#skills .skills-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
}
#skills .skills-container .skills-box{
  display: flex;
  gap: 24px;
}
.skills-box .skills-card{
  padding: 30px;
  /* border: 1px solid blue; */
  box-shadow: 0 6px 50px 0 #00000027;
  max-width: 267px;
}
.skills-card img{
  max-width: 44px;
  margin-bottom: 30px;
}
.skills-card h3{
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}
.skills-card p{
  font-size: 16px;
color: #757575;
line-height: 28px;
}
#resume .resume-container{
  
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 0;
  display: flex;
  gap: 24px;
  
}
.resume-container .section-title{
  color: #474747;
  font-size: 30px;
  margin-bottom: 30px;
}
.resume-card{
  max-width: 511px;
  margin-right: 47px;
}
.resume-card .card-title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #474747;
}
.resume-card .card-info{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #757575;
}
.resume-card .card-text{
  font-size: 16px;
  line-height: 28px;
  
  color: #757575;
}
.resume-container hr{
  margin: 30px 0;
}
.text-center{
  text-align: center;
}
footer{
  margin-top: 130px;
  background-color: #FFF8F3;
  padding: 130px 0;
}
footer .footer-container{
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  gap: 116px;
}
.footer-container .social{
  max-width: 562px;
}
.footer-container h2{
  color: #181818;
  font-size: 35px;
  margin-bottom: 20px;
}
.footer-container .social p{
  color: #474747;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 30px;
}
.footer-container .icons a{
margin-right: 24px;
}
.footer-container form input[type="text"] , .footer-container form textarea{
  width: 461px;
  padding: 18px 31px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  color: #757575;
}

@media screen and (max-width:576px) {
  nav{
    flex-direction: column;
    gap: 20px;
  } 
nav .menu {
  flex-wrap: wrap;
  justify-content: center;
}
#banner .banner-image{
  width: 100%;
}
.btn-group{
  justify-content: center;
}
header {
  background:url(../images/header_bg.png), #FFF8F3;
    background-position:bottom right;
    background-repeat: no-repeat;
}
 #banner{
    flex-direction: column;
    margin: 20px;
    gap: 20px;
  }
    #banner .banner-content h1{
      font-size: 44px;
    }
  #skills .skills-container {
    width: 95%;    
}
.section-heading h2 {
    font-size: 30px;    
}
#about .about-container{
  padding: 20px;
}
#about .about-container .about-info{
  flex-direction: column;
  gap: 40px;
}
  #skills, #resume{
  padding-top: 60px;
}
#skills .skills-container .skills-box{
    flex-direction: column;
}
.skills-box .skills-card {
  max-width: 100%;
}
#resume .resume-container{
  flex-direction: column;
  margin-top: 60px;
}
.resume-card{
  margin-right: 10px;
}
.footer-container form input[type="text"] , .footer-container form textarea{
  width: 100%;
}
}